/* reset-style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    margin-left: 10%;
}

ul {
    list-style: none;
}
/* Custom Style */
nav{
    height: 50%;
    padding: 1% 0%
}
.d-style{
    background-color: white;
    padding: 2%;
    width: 30%;
    box-shadow: 0 0 3px 0 ;
}
.d2-style{
    margin: auto 3%;
}
.clear {
    clear: both;
}

/* Global Style */

.bg-dark {
    background-color: rgb(36, 36, 36);
}
.bg-gray{
    background-color:gainsboro ;
}
.text-white {
    color: white;
}

.fr{
    float: right;
}
.fl{
    float: left;
}
.clear{
    clear: both;
}
.d-inline-block{
    display: inline-block;
}
.margin-left{
    margin-left: 10%;
}
.padding-bottom{
    padding-bottom: 10%;
}
.ul-width{
    width: 36%;
}
.container{
    width: 80%;
    margin: auto;
}
.center{
    text-align: center;
}
.margin{
    padding-top: 5%;
    padding-bottom: 5%;
}