/* reset-style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
/* Global Style */

.fr{
    float: right;
}
.fl{
    float: left;
}
.width40{
    width: 40%;
}
.clear{
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}
.margin-top1{
    margin-top: 10%;
}
.margin-top2{
    margin-top: 17%;
}
.padding-bottom{
    padding-bottom: 10%;
}

.orange{
    color: orange;
}

/* Custom Style */
.bg-image{
    background-image: url(https://images.pexels.com/photos/17572913/pexels-photo-17572913/free-photo-of-building-with-apartments-behind-trees-in-evening.jpeg?cs=tinysrgb&dpr=1&w=500);
    min-height: 100vh;
}

.AX-style{
    color: white;
    font-weight: 700;
    font-size: 70px;

}
.IT-style{
    color: orange;
    font-weight:100;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p1-style{
    color: white;
    font-size: 23px;
}
.p2-style{
    color: rgb(188, 188, 188);
    font-size: 14px;
}
.hr-style{
    width: 15%;
    border: 1px solid white;
    margin: 10% auto 10% 0;
}
.btn1-style{
    background-color: transparent;
    color: white;
    padding: 3%;
    margin-top: 10%;
    border: solid 2px white;
}
.btn2-style{
    background-color:orange;
    color: white;
    padding: 3%;
    width: 100%;
    border: 0;
}
.d1-style{
    background-color:gainsboro ;
    text-align: center;
    padding: 4% 2%;
    border-top-left-radius: 3px ;
    border-top-right-radius:3px ;
    font-weight: 600;
}
.d2-style{
    background-color: white;
    
}
.d2-style input{
    width: 100%;
    border: 0;
    border-bottom:solid gainsboro 1px;
    }
    
.d3-style{
    background-color: orange;
    color: white;
}