/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style: none;
}
/* global style */
.width-5{
    width: 5%;
}
.width-27{
    width: 27%;
}
.pad-top-3{
    padding-top: 3%;
}
.container{
    width: 90%;
    margin: auto;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.align-center{
    align-content:center ;
}
.justify-center{
    justify-content:center ;
}
.space-betw{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
/* custom style */